

.table-container{
  margin-top: 30px;
  box-shadow: 1px 1px 5px 1px;
}

.table-row-online{
  background-color: #64DD17;
  outline: none;
}

tr:hover.table-row{
  box-shadow: 1px 1px 3px 1px;


}

.channel-icon{
  height: 40px;
}

.table-header{
  background-color: tomato;
  color: white;
}
